*{
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;;
}
.Anim{
    opacity: 0; 
    animation: fadeIn 1s ease-in-out forwards; 
}
@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }

}
#bg{
    width: 100%;
    height: 100vh;
    background: rgb(0,142,255);
    background: linear-gradient(180deg, rgba(0,142,255,1) 0%, rgba(0,99,255,1) 100%);
    background-position: center;
    background-size: cover;
}

img {
    padding: 2rem;
    border-radius: 50px;
    filter:drop-shadow(0rem 0rem .5rem rgba(0,0,0,0.5));
    opacity: 10;
}

.TxtsA {
    margin-left: 220px;
    margin-top: -170px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}

.box {
    filter:drop-shadow(0rem 0rem 1.5rem rgb(0,0,0,0.3));
    box-shadow: black;
}
.socials {
    color:white;
    margin-left: 600px;
    margin-top: -125px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.boxB {
    filter:drop-shadow(0rem 0rem 1.5rem rgb(0,0,0,0.3));
    box-shadow: black;
}
.Bio {
    color:white;
    margin-left: 30px;
    margin-top: 25px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.Talent {
    color:white;
    margin-left: 30px;
    margin-top: 25px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.Games {
    color:white;
    margin-left: 30px;
    margin-top: 25px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.VideoLabel{
    color:white;
    margin-left: 450px;
    margin-top: -65px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.Video{
    margin-left: 450px;
    margin-top: -430px;
}
.Gaming{
    color:white;
    margin-left: 1100px;
    margin-top: -25px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.Health{
    color:white;
    margin-left: 1100px;
    margin-top: -300px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
.qoute{
    color:white;
    margin-left: 1100px;
    margin-top: -310px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px; 
}
.date {
    color:white;
    margin-left: 1100px;
    margin-top: -250px;
    background-color: rgb(0, 115, 255); 
    color:white;
    padding: 15px;
    width:20rem;
    border-radius:15px;
}
